<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div id="hero">
  <h1>{{title}}</h1>
</div>
<div id="user">
  {{{userprofile}}}
</div>
<div id="col1">
  Column 1:
  {{{col1}}}
</div>
<div id="col2">
  Column 2:
  {{{col2}}}
</div>
<div id="col3">
  Column 3:
  {{{col3}}}
</div>
<child src="footer.mejs"></child>
</body>
</html>