<!DOCTYPE html>
<html makomi-id="d273b3">
<head makomi-id="b8a9fa">
  <title makomi-id="6626d3"><makomi-var name="title" makomi-id="f2817d">{{title}}</makomi-var></title>
  <link rel="stylesheet" href="/stylesheets/foundation.min.css" makomi-id="d63934"/>
  <link rel="stylesheet" href="/stylesheets/layout.css" makomi-id="1c344c"/>
</head>
<body makomi-id="454553">
<div id="hero" makomi-id="403eeb">
  <h1 makomi-id="7ce0e6"><div class="row" makomi-id="c3ed65"></div><makomi-var name="title" id="auto-4f51e7" makomi-id="3d7e63">{{title}}</makomi-var></h1>
</div>
<div class="row" makomi-id="416900"><div class="columns large-7" makomi-id="e78354"></div></div><div id="user" makomi-id="da0ce4">
  {{{userprofile}}}
</div>
<div id="col1" makomi-id="0c41c0">
  Column 1:
  
</div>

<div style="width: 382px; height: 57px;" makomi-id="f0949e">I'll just leave this here.<div class="row" makomi-id="f8b34c"></div></div>



<div id="col2" makomi-id="a91d10">
  Column 2:{{{col2}}}
</div>
<div id="col3" makomi-id="2ac20b">
  Column 3:
{{{col3}}}
</div>
<makomi-include src="footer" makomi-id="1d446d"><span makomi-id="aa3caa">Copyright 2013 Seldo.com</span></makomi-include>
</body>
</html>